@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    background-color: #121212;
    color: white;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    max-width: 1280px;
}

h1{
    font-size: 40pt;
    display: inline-block;
    margin-left:32%;
    margin-top: 20px;
    margin-right: 80px;
    color: #d6d317;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 4px 2px #050303;
    position:relative;
    top:10px;
    user-select: none;
}


#randomNumber{
    background-color: #00db71;
    color: black;
    display: inline-block;
    width: 8.1%;
    min-height: 54px;
    text-align: center;
    font-size: 44px;
    font-weight: bold;
    border-style: solid;
    border-color: rgb(14 14 14);
    border-radius: 8px;
    margin: auto;
    box-shadow: 2px 2px #050303;
    position:relative;
    top:9px;
    user-select: none;
}

#bingo-board {
    border-style: solid;
    display: inline-block;
    width: 100%;
    border-color: #292929;
    border-width: 3px;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 15px;
    user-select: none;
}

.number {
    background-color: rgb(14 14 14);
    display: inline-block;
    width: 8.1%;
    min-height: 54px;
    text-align: center;
    padding-top: 32px;
    font-size: larger;
    font-weight: bold;
    border-style: solid;
    border-color: #050303;
    border-radius: 8px;
    margin: 3px;
    box-shadow: 2px 2px #050303;
    user-select: none;
    
}

.number.chosen{
    background-color: #00db71;
    display: inline-block;
    width: 8.1%;
    min-height: 54px;
    text-align: center;
    padding-top: 32px;
    font-size: larger;
    font-weight: bold;
    border-style: solid;
    border-color: #050303;
    border-radius: 8px;
    margin: 3px;
    box-shadow: 2px 2px #050303;
    text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
                  user-select: none;
}

.lastItem {
    background-color: rgb(14 14 14);
    color:rgba(0,0,0,0);
    border-color: #050303;
    display: inline-block;
    width: 8.1%;
    min-height: 54px;
    text-align: center;
    padding-top: 32px;
    font-size: larger;
    font-weight: bold;
    border-style: solid;
    border-radius: 8px;
    margin: 3px;
    box-shadow: 2px 2px #050303;
    user-select: none;
    
}

/* // used a CSS button generator to create button CSS */
.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:24px;
	font-weight:bold;
	padding:28px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
    margin-left:42%;
    font-family: "Montserrat", sans-serif;
    border-color: rgb(46, 46, 46);
    text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
    
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}
